img.logo {
  height: 60px;
}

.form-login {
  display: flex;
}

.form-login form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  font-size: 1.2rem;
}

.container-form {
  display: flex;
}

.form-add-book {
  width: 50%;
  color: red;
  margin: auto;
}